.btn {
	background-color: $mainBlue;
	color: #FFF;
	text-decoration: none;
	border-radius: 8px;
	padding: .75rem 1.2rem;
	display: inline-block;
	box-shadow: 2px 3px gray;
	

	&--orange {
		background-color: $btnOrange;
	}

	&--large {
		font-size: .3rem;
		padding: 1.1rem 1.9rem;
	}
	@mixin atSmall {
		font-size: 1.25rem
	}
}  

	.btn:hover {
  
  transition: all .7s ease;
  border-radius: 8px;
  background-color: #101d82;
}

	#orng-hvr:hover {
  
  transition: all .5s ease;
  border-radius: 8px;
  background-color: #ff7f00;
}

